@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --text-black:black;
    --text-white:white;
    --bgb:black;
    --bgw:white;
    --hover:#c0392b;
    --boder:1px solid var(--bgb);
    --boxshow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;


}

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: var(--bgw);
    overflow-x: hidden;
}



.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 0.2rem;
}

img{
    width: 100%;
    object-fit: cover;
}
.container{
    padding: 20px 40px;
}

.btn{
    padding: 0.5rem 1.2rem;
    background: var(--bgb);
    color: var(--text-white);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius:8px;
    border: 2px solid var(--main-color);
    text-align: center;
}
.btn:hover{
    letter-spacing: 0.1rem;
    background-color: var(--hover);
    transition: 0.25s linear;

}

/* ------------NAVBAR---------- */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    background-color: var(--bgb)
}
.navbar_logo{ 
    display: flex;
    align-items: center;
    font-size: 2rem;
    column-gap: 0.5rem;
    font-weight: 600;
    color: var(--text-white);
}
.menu-links{
    position: relative;
    display: flex;
    column-gap: 1.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;

}


/* --------MENU TEMPLATE STRAT--------- */
.menu-links-items{
    position: absolute;
    top: 110%;
    right:-6rem;
    background: #13131A;
    width: 15rem;
    padding: 1.2rem 2rem;
    display: none;
}

.menu-links-items li{
    display: block;
    margin: 1rem 0;
}
.showmenu{
    position: relative;
}
.showmenu:hover .menu-links-items{
    display: block;
    transition: 0.2s linear;
}
/* --------MENU TEMPLATE END--------- */
.menu-links li a{
    color: var(--text-white);
    position: relative;
}
.menu-links li a::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--hover);
    transform: scale(0);
}
.menu-links li a:hover::after{
    transform: scale(1);
    transition: 0.25s linear;
}
.navbar_icon{
    font-size:1.5rem ;
    color: var(--text-black);
    cursor: pointer;
}
.navbar_icon .bx{
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--text-white);
    margin: 0 0.2rem;
}
.navbar_icon .bx:hover{
    transform:scale(1.1) ;
    transition: 0.25s linear;
}

.menu-links li a:hover,
.navbar_logo:hover{
    color: var(--hover);
    transition: 0.2s linear;
}

/* ----------search----------- */
.navbar_search{
    width: 350px;
    position: absolute;
    top: 105%;
    right: -100%;
    padding: 0.7rem;
    border: var(--boder);
    background-color: var(--bgw);
    outline: none;
    font-size: 1.2rem;
    border-radius:5px;
}
.navbar_search::placeholder{  
    font-size: 1rem;
}
.navbar_search.active{
    right: 1rem;
    transition: 0.2s linear;
}

/* ---------navbar_cart------- */
.navbar_cart{
    width: 400px;
    position: absolute;
    top: 110%;
    right: -100%;
    background-color: var(--bgw);
    box-shadow: var(--box-shadow);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.8rem;
    background-color:var(--bgw);
    box-shadow: var(--boxshow);
    border-radius: 5px;
}
.navbar_cart.active{
    right: 1rem;
    transition: 0.2s ease;
}
.cart-box{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #13131A;
}
.cart-box img{
    width: 100px;
}
.cart-box img:hover{
    transform: scaleX(-1);
}
.cart-box .content{
    min-width: 250px;
}
.cart-box .content p{
    color: var(--hover);
    font-size: 1.2rem;
}
.cart-box .content p span{
    color: var(--text-black);
    text-decoration: line-through;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.cart-box .cart-icon{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
}
.cart-box .cart-icon:hover{
    color: var(--hover);
    transition: 0.15s linear;
}

.cart-btn{
    margin: 0.8rem;
    padding: 0.5rem;
    text-align: center;
}


/* ------------slider-------- */
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.mySlides img{
    width: 100%;
}
.slideshow-container {
    width: 100%;
    height: calc(100vh- 200px);
    margin-top: 5.5rem;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.show {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* -----------SẢN PHẨM---------- */
.top_btn{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}
.top_btn .btn{
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    display: inline-block;
    flex-shrink: 0;
}
/* ---------------tin tức----------- */
.box-news{
    display: flex;
    flex-direction: column;
    background-color: var(--bgb);
    align-items: center;
    justify-content: center;
    
}
.box_one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 1rem;
}
.box_two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
.box_content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.box_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  
}
.content_link{
    width: 100%;
    background: #13131A;
    padding: 1rem;
    height: 5rem;
}
.box_content .content_link a{
    color: var(--text-white);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform:capitalize;
    
}
.box_content .content_link a:hover{
    color: var(--hover);
    transition: 0.2s linear;
}

.allnews{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    margin-top: 2rem;
    background: #717171c4;
}
.allnews .box_left
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--bgw);
}
.allnews .box_left h1,
.allnews .box_right h1{
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem;
}
.allnews .box_left .content{
    display: flex;
    column-gap: 1rem;
    border-bottom: 1px solid var(--bgb);
    padding: 1rem 2rem;
    cursor: pointer;
}
.allnews .box_left .content:hover{
    box-shadow: var(--boxshow);
}
.allnews .box_left .content .content-heading h1{
    font-size: 1.2rem;
}
.allnews .box_left .content .content-heading p{
    margin: 4rem 0 0 1rem ;
}
.allnews .box_left .content .content-heading p span{
    color: var(--hover);
    font-weight: 500;
}
.allnews .box_left .content img{
    width: 20rem;
    object-fit: cover;
}

.allnews .box_right .box_content{
    margin: 1rem;
    width: 25rem;
    background: #13131a;;
}
.allnews .box_right .box_content .content_link{
   flex: 1;
   background-color: transparent;
   width: 20rem;
}
.box_content .content_link a{
    font-size: 1rem;
    margin-right: 1rem;
    width: 15rem;
}
.allnews .box_right .box_content:last-child{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.allnews .box_right .box_content:last-child a{
    color: var(--text-black);
    margin-left: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.allnews .box_right .box_content:last-child a:hover{
    color: var(--hover);
    padding-left: 0.5rem;
    transition: 0.2s linear;
}
/* ------------footer-------------- */
footer{
    background-color: #13131a;
    color: var(--text-white);
}
.footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    border-bottom: 1px solid rgb(255,255,255,0.5);
}
.footer-box p{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    max-width: 250px;
    line-height: 2rem;
    color: rgb(255,255,255,0.5);
}
.footer-box p a{
   color:  rgb(255,255,255,0.5);
}
.footer-box p a:hover{
    color: var(--hover);
    padding-left: 0.5rem;
    transition: 0.25s linear;
}
.footer-box h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.footer_logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-white);
}
.footer_logo:hover{
    color: var(--hover);
}
.footer-box input{
    margin: 0.5rem 0;
    padding: 0.8rem;
    border: 0;
    outline: none;
    width: 200px;
    border-radius: 5px;
}
.footer-btn{
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    font-size: 0.8rem;
}
.social{
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--text-white);
    cursor: pointer;
}
.social .bx{
    border: 1px solid var(--text-white);
    padding: 0.3rem;
    border-radius: 50%;
}
.social .bx:hover{
    background-color: var(--hover);
    transform: scale(1.1);
    transition: 0.2s linear;
}

.footer-bottom{
    padding: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: rgb(255,255,255,0.5);;
}